{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Comptible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>

<h1 style="text-align: center">  Login</h1>
<form method="POST" style="text-align: center; margin-left: 34%; margin-top: 2%">
<fieldset style="width: 500px;">
    
    {% csrf_token %}
    {{ form | crispy }}
    <br>
    <br>
    <button type="submit" >Submit</button>

       
</fieldset>
<br>

<a href="signup" style="margin-left:-550px"> Click here to sign up</a>
</form>
</div> 
</body>
</html>