
<!DOCTYPE html>
{% load static %}
<html lang = 'en'>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Comptible" content="ie=edge">
 <title>Quiz Info</title>
 <!--<link rel = 'stylesheet' type = 'text/css' href = "{% static '/css/styles.css' %}">-->
 <link 
 rel = 'stylesheet'
 href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <link rel = 'stylesheet' type = 'text/css' href = "{% static '/css/styles.css' %}"> 
</head>

<script
 src="https://code.jquery.com/jquery-3.4.1.min.js"
 integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
 crossorigin="anonymous"></script>
 
<body style = 'background-color:aliceblue;'>
 
<center>
<fieldset style="width: 530px;">
<br>
<legend style = 'width:340px;'>
<h1 style = 'color:DarkGoldenRod; margin-top:10px; font-family:Arnoldboecklin, fantasy;'>QUIZ DETAILS</h1>
</legend>


 
<div id = 'content'>
<!--<div class="form-group">
 <label for="usr">Quiz Name:</labelß
 <input type="text" name = 'quiz_name' class="form-control" id="usr">
</div> -->
 
 <div class = "form-group">
 <label><kbd>Quiz Name</kbd></label>
<input type = 'text' id='quiz_title' class = 'form-control' placeholder = "Type Quiz title">
 </div>
 
<div class = "form-group">
<label><kbd>Description </kbd> </label>
<textarea rows="4" cols="50" id = "desc" class = 'form-control' placeholder = "Type Quiz Description"></textarea>
</div>


 
<div class = "form-group">
<label ><kbd>Time Per Question(In Seconds)</kbd></label>
<input type= "number" id= 'tpq' class = 'form-control' placeholder="Time per question">
</div>
 
<div class = "form-group">
<label><kbd>Points Per Question</kbd></label>
<input type = "text" id = 'ppq' class = 'form-control' placeholder= "Points per question">
</div>





 
<button style = 'margin-left:-360px;' onclick = "myFunc()">Start creating...</button>
 
</div>



 

 
</fieldset>
 
</center>
</body>

<script>
let count = 0;
const questionArr = [];
function myFunc() {
    let quiz_title = document.getElementById('quiz_title').value;
    let desc = document.getElementById('desc').value;
    let tpq = document.getElementById('tpq').value;
    let ppq = document.getElementById('ppq').value;
    const que = {
        quiz_title: quiz_title,
        desc: desc,
        tpq: tpq,
        ppq: ppq
    }
    const jsonString = JSON.stringify(que);
    console.log('JOSN STR: ', jsonString)
    document.getElementById('quiz_title').value = '';
    document.getElementById('desc').value = '';
    document.getElementById('tpq').value = '';
    document.getElementById('ppq').value = ''; 

 console.log('Que: ', que)
  function getCookie(name) {
   var cookieValue = null;
      if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
               if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
               }
         }
      }
      return cookieValue;
   }
   var csrftoken = getCookie('csrftoken');
   function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
   }
 $.ajax(
    {
    url: "submit",
    type: "POST",
    dataType: "json",
    data: {csrfmiddlewaretoken: '{{ csrf_token }}',
      jsonString
    },
    success: function(data ){
       console.log('Data: ', data)
       window.location.href = "question"
   },
    error: function(e) {
       console.log('Error: ', Object.keys(e))
       console.log('Res Text: ', e.responseText)
       //window.location.href = e.responseText
   }
})

}
</script>
</html>