
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Comptible" content="ie=edge">
    <title>Quiz Information</title>
</head>
<body>
<br>
<input type="text" name="quiz_title" placeholder="Enter Quiz Title">
<br><br>
<textarea rows="4" cols="50" name="quiz_desc" placeholder="Enter Quiz Description"></textarea>
<br><br>
<input type="text" name="timer" placeholder="Enter Timer per question">
<br><br>
<input type="text" name="points" placeholder="Enter Points per question">
<br><br>
<button onclick="call()"> Let's Create</button>
<br><br>
<script>
function call()
{
 window.location.href = "question";
}
</script>
</body>
</html>