<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Comptible" content="ie=edge">
    <title>Add Questions</title>
<style>
div.addbutton
    {
        position:absolute;
        right:430;
        top:30;            
    }
</style>    
</head>
<body>
<script>
</script>

<form action="add_question" method="POST">
{% csrf_token %}

<div class = 'addbutton'> 
<button type=submit> Add Question</button>
</div>

<center>
<h2>
<p>
 Quiz Title
 </p>
 <br/>
 </h2>

</center>
<br/>
<center>
<p>Add Your Questions & Options and Select the right Option.</center>
<br>

<center>
<textarea rows="2" cols="100" placeholder="Click to start typing your question" name="question"></textarea></center>
<br>

<center>
<br>
<input type="text" name="answer1" placeholder="Add answer1">
<input type="text" name="answer2" placeholder="Add answer2">
<input type="text" name="answer3" placeholder="Add answer3">
<input type="text" name="answer4" placeholder="Add answer4">
</center>

<br>
<center>
<input type="file" name="filename">
{% comment %} <input type="submit"> 
</center>

<br>
<center>
<button type="submit" formaction="finish" method='POST'>Finish</button>
</center> 

</form>
<script>
function callme()
{
 window.location.href = "/home";
}
function call()
{
 window.location.href = "question";
}
</script> 

</body>
</html> 